*{
    padding : 0;
    margin : 0;
}
body{
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FEE8B0;
}
h2{
    font-family: "Poppins", sans-serif;
}
.amount p{
    font-family: "Poppins", sans-serif;
}
.container{
height : 450px;
 width: 400px;
 background-color:#FFFFFF;
padding :20px;
border-radius: 1rem;
border : 1px solid black;
}
.container {
    
    box-shadow: 0 4px 20px black;
}
form{
    margin : 30px 0 30px 0; 
}
form select , button , input{
     width : 100%;
        margin : 10px 0 10px 0;
        border : none;
        outline: none;
        border-radius: 0.35rem;;
}
form input{
    border : 1px solid rgb(97, 86, 86);
 font-size:20px;
 padding-left:0.45rem;
 height: 40px;
}
 .dropdown{
  display:flex;
     justify-content: space-evenly;
        align-items: center;
    margin-top:2rem;
 }
 .dropdown p{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
 }
 
.select-container img{
   width: 2rem; 
 }
 .select-container{
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(97, 86, 86);
    border-radius:0.6rem; 
    width:6.2rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    /* font-family: "Poppins", sans-serif; */
 }
 dropdown i{
font-size: 2rem;
display: flex;
justify-content: center;    
align-items: center;

 }
 .select-container select{
    font-size:1.1rem;
    font-family: "Poppins", sans-serif;
 }
  .msg{
    margin: 2.5rem 0 2.5rem 0;
    font-size:1.4rem;
    font-family: "Poppins", sans-serif;
 }
 form button{
    height: 50px;
    font-size: 1.1rem;
    background-color: #1a3b5f;
    color:#ffffff;
    font-family: "Poppins", sans-serif;
 }
 form button:hover {
  background-color: #46797a;
}
form button {
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.amount p{
    font-size:1.2rem;
}